@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inder&family=Radley&family=Secular+One&family=Unbounded:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
CSS rules to specify families

font-family: 'Bree Serif', serif;
font-family: 'Inder', sans-serif;
font-family: 'Radley', serif;
font-family: 'Secular One', sans-serif;
font-family: 'Unbounded', cursive;
*/

:root {
  --Mint-color: #c7ddcc;
  --Beige-color: #c8b7a6;
  --LightLime-color: #abd699;
  --Creme-color: #f4d8ae;
  --Pistachio-color: #b6c48e;
  --Soft-Lilac: #f6ebf4;
  --Lighter-Grey: #dce1e3;
  --Blush-color: #e8cebf;
  --Lightly-Off-color: #fdf8f5;
  --Olive-color: #a3bcb6;
  --Tanly-color: #daded4;
  --Heavy-Purple: #a28089;
  --Teeny-Greeny: #ebf6f5;
  --Sand-Tan: #e1b382;
  --Tan-Shadow: #c89666;
  --Barely-Green: #acb7ae;
  --The-Brown-shirts: #82716e;
  --Tan-Blonde: #e4decd;
  --Blondey-color: #c2b490;
  --Dark-Grey: #393939;
  --Deep-Orange: #ff5a09;
  --Clean-color: #dfdce3;
}
